@import "../variables.scss";

.input {
  padding: 16px;
  border-radius: 10px;
  color: $inputcolor;
  font-size: 18px;
  font-family: "Space Mono";
  font-weight: 600;
}

.input[type="checkbox"] {
  height: 24px;
  width: 24px;
}

.label {
  margin-bottom: 8px;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.formRow {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.marginTopSm {
  margin-top: 16px;
}

.marginTopLg {
  margin-top: 36px;
}
